Electronic:
  Deep House Lounge: http://198.15.94.34:8006
  Ibiza Sonica: http://s1.sonicabroadcast.com:7005/stream
  Bassdrive: http://50.7.98.106:8200
  SomaFM Fluid: http://ice1.somafm.com/fluid-128-mp3

Chillout:
  Joint Radio: http://radio.jointil.net:9998
  SomaFM DEF CON Radio: http://ice1.somafm.com/defcon-256-mp3
  SomaFM Drone Zone: http://ice1.somafm.com/dronezone-256-mp3
  SomaFM Mission Control: http://ice1.somafm.com/missioncontrol-128-mp3
  The Jazz Groove: http://west-mp3-128.streamthejazzgroove.com
  Radionomy Downbeat: http://streaming.radionomy.com/TempoOfTheDownbeat1

Casual:
  76Radio: http://192.240.102.133:9566/stream
  SomaFM Beat Blender: http://ice1.somafm.com/beatblender-128-mp3
  Jazz Radio Electro Swing: http://jazz-wr04.ice.infomaniak.ch/jazz-wr04-128.mp3
  SomaFM Groove Salad: http://ice1.somafm.com/groovesalad-256-mp3
  SomaFM Lush: http://ice1.somafm.com/lush-128-mp3
  Allzic Radio R&B: http://allzic10.ice.infomaniak.ch/allzic10.mp3
  The UK 1940s Radio Station: http://91.121.134.23:8100/1
