<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css">
    <script type="text/javascript"
         src="../static/script.js"></script>    <title>YCast</title>
</head>
<body>
<div class="header">
    <h2>Hallo YCast</h2>
</div>
<div class="content">
    <div class="contentheader" onclick="stationsAddItem()">
        <h3>Stations</h3>
    </div>
    <div class="contentitems">
    <ul id="stationList">
    <li class="item">
        <div class="itemicon">
             <img src="http://www.klassikradio.de/_nuxt/icons/icon_64.a00w80w0000.png">
        </div>
        <div class="itemtext">
            <h4>Radio</h4>
            <p>ard,actuell</p>
        </div>
    </li>
    <li class="item">
        <div class="itemicon">
            <img src="http://wgbh.org//apple-touch-icon.png">
        </div>
        <div class="itemtext">
            <h4>Radio</h4>
            <p>ard,actuell</p>
        </div>
    </li>
    </ul>
    </div>
</div>
<div class="content">
    <div class="contentheader"><h3>Bookmarks</h3></div>
    <ul>
     <li class="item">
        <div class="itemicon">
             <img src="http://www.klassikradio.de/_nuxt/icons/icon_64.a00w80w0000.png">
        </div>
        <div class="itemtext">
            <h4>Radio</h4>
            <p>ard,actuell</p>
        </div>
    </li>
    </ul>
</div>
</body>
</html>