<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="/static/style.css">
    <script type="text/javascript" src="/static/script.js"></script>
    <title>YCast</title>
</head>

<body>
    <div class="page">
        <div class="header">
            <h2>YCast advanced</h2>
             <button onclick="saveBookmarks()">Save</button>
            <div>
                <label for="id_category">station-source:</label>
                <select tabindex="1" id="id_category" name="category" oninput="onInputSelect(event, this)">
                    <option value="recently">recently</option>
                    <option value="voted">voted</option>
                    <option value="language">language</option>
                    <option value="country">country</option>
                </select>
            </div>
            <div>
                <label for="id_param">language or country:</label>
                <input tabindex="2" list="paramlist" id="id_param" autocomplete=off disabled=true
                       onclick="this.value=''" onfocus="this.value=''"
                       onkeyup="keyUpEvent(event,this)" oninput="onInputSelect(event, this)">
                <datalist id="paramlist">
                </datalist>
            </div>
        </div>
        <div class="content">
            <div class="contentheader">
                <label class="miniinfo" id="stationcount">0/0</label>
                <h3>Stations</h3>
                <label for="stationsearch">search:</label>
                <input tabindex="3" type="search" id="stationsearch" oninput="onInputSelect(event, this)">
            </div>
            <div class="contentitems" title="Clicking on this item copies it as a bookmark">
                <ul id="stationList">
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="contentheader">
                <h3>Bookmarks</h3>
                <label for="idCategory">category:</label>
                <input tabindex="10000" list="categorylist" id="idCategory"
                       onfocus="this.value=''" onclick="this.value=''" oninput="onInputSelect(event, this)">
                <datalist id="categorylist">
                    <option value="Actual">
                    <option value="Pop">
                    <option value="Classics">
                </datalist>

            </div>
            <div class="contentitems" title="Clicking on this item will delete it">
                <ul id="bookmarkList">
                </ul>
            </div>
        </div>
    </div>
</body>

</html>
