*:focus{ 
    outline: 4px solid red;
}

input: {
    margin: 0.4rem;
}

li:hover, input:hover {
    background-color: dodgerblue;
}

body {
    font-family: sans-serif;
}

.page {
    display: block;
    padding-left: calc(100% / 2 - 12.5rem);
}

.header {
    position: relative;
    block-sizing: borderbox;
    height=30rem;
    max-width: 20.9rem;
    min-width: 20.9rem;
    margin: 0.3rem;
    background-color: blue;
    color: white;
    text-align: center;
    padding: 0.5rem;
}

.content {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    margin: 0.2rem;
    max-height: 60rem;
    max-width: 22rem;
    min-width: 22rem;
}

@media (min-width: 52rem) {
    .header {
        max-width: 43.5rem;
        min-width: 43.5rem;
    }
    .page {
        padding-left: calc(100% / 2 - 23rem);
    }
}

.contentheader {
    box-sizing: border-box;
    display: inline-table;
    position: relative;
    background-color: blue;
    color: white;
    align-items: center;
    margin: 0rem;
    padding: 0.2rem;
    border: 2px #eee solid;
    height: 5rem;
    width: 100%;
    min-width: 20rem;
}

.contentitems {
    box-sizing: border-box;
    position: relative;
    display: flex;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 30rem;
    min-width: 20rem;
    border: 2px #eee solid;
}

.miniinfo {
    display: block;
    position: absolute;
    font-size: 8px;
    top: 15px;
}

.item {
    position: relative;
    display: inline-flex;
    border: 2px #eee solid;
    margin: 0.1rem;
    height: 2.6rem;
    width: 100%;
    align-items: center;
}


.itemicon {
    display: flex;
    box-sizing: border-box;
    margin: 1px;
    height: 2.4rem;
    width: 2.4rem;
}

.itemtext {
    display: flex white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

ul {
    padding: 0.2rem;
    margin: 0rem;
    height: 100%;
    width: 100%;
}

li {
    width: 95%;
    padding: 0rem;
    margin: 0rem;
}

h2 {
    padding: 0rem;
    margin: 0.5rem;
}

h3 {
    text-align: center;
    padding: 10px;
    margin: 0rem;
    padding: 0.5rem;
}

h4 {
    text-align: left;
    padding-left: 1rem;
    margin: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

p {
    padding-left: 1.1rem;
    margin: auto;
    font-size: 0.8rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

label {
    padding-left: 1.1rem;
}
