body {
    font-family: sans-serif;
    height: 100%;
    align-items: center;
}

.page {
    align-items: center;
    height: 100%;
    width: 100%;
}

.header {
    height=30rem;
    width: 38.9rem;
    margin: 0rem;
    background-color: blue;
    color: white;
    text-align: center;
    min-width: 20rem;
    max-width: 40rem;
    padding: 0.5rem
}

.container {
    display: block;
    width: 100%;
    bottom: 0rem;
    background-color: aquamarine;
}

.content {
    display: block;
    width: 20rem;
    min-width: 20rem;
    float: left;
    margin: 0rem;
    height: calc(100% - 13rem);
    max-height: 30rem;
}

.contentheader {
    display: block;
    background-color: blue;
    color: white;
    align-items: center;
    margin: 0rem;
    padding: 0.2rem;
    border: 2px #eee solid;
    height: 5rem;
    width: 100%
}

.contentitems {
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
    top: 6rem;
    width: 100%;
    height: calc(100% - 20rem);
    max-height: 30rem;
    border: 2px #eee solid ;
}

.item {
    display: flex;
    border: 2px #eee solid;
    margin: 0rem;
    height: 2.4rem;
    align-items: center;
}

.item:hover {
    background-color: beige;
}

.itemicon {
    height: 2.4rem;
    width: 2.4rem;
}

.itemtext {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

ul {
    padding: 0.2rem;
    margin: 0rem;
    height: 100%;
    width: 100%;
    display: contents;
}

li {
    width: 95%;
    padding: 0rem;
    margin: 0rem;
}

h2 {
    padding: 0rem;
    margin: 0.5rem;
}

h3 {
    text-align: center;
    padding: 10px;
    margin: 0rem;
    padding: 0.5rem;
}

h4 {
    text-align: left;
    padding-left: 1rem;
    margin: auto
}

p {
    padding-left: 1.1rem;
    margin: auto;
    font-size: 0.8rem;

}

label {
    padding-left: 1.1rem;
}

input
